$flexbin-row-height: 300px;
$flexbin-space: 5px;

$flexbin-tablet-max: 980px;
$flexbin-row-height-tablet: 225px;
$flexbin-space-tablet: $flexbin-space;

$flexbin-phone-max: 400px;
$flexbin-row-height-phone: 150px;
$flexbin-space-phone: $flexbin-space;